snippet myheader "personal file header"

-------------------------------------------------
Filename: `!v expand('%')`

Copyright (C) `date +%Y` greyishsong
greyishsong@foxmail.com

Description: $1

Created at: `date +%Y/%m/%d`
Last modified: `date +%Y/%m/%d`
-------------------------------------------------

endsnippet

snippet datetime "current datetime"
`date +%Y/%m/%d`
endsnippet
